<div class="alert--wrapper">
    <div class="col-12 d-flex flex-column align-items-center justify-content-center w-100 text-center">
        <mat-icon class="material-symbols-outlined info--icon"> help </mat-icon>
        <p class="alert--note">Are you sure you want to log out?</p>
        <div class="d-flex align-items-center justify-content-center">
            <button mat-stroked-button color="primary" class="me-2">Cancel</button> 
            <button mat-raised-button color="primary">Invite  </button>
        </div>
    </div>
</div>
