.upload--files{
    border-radius: 20px;
    border: 2px dashed rgba(49, 183, 183, 0.40);
    background: #FFF;
    padding: 30px 15px 20px 15px;
    margin-bottom: 30px;
    h6{
        margin: 15px 0;
        color: #1F2F3E;
    }
    p{
        color: #848789;
    }
}