<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card patient--signup--wrapper login-dark dark-gray">
        <div>
          <div><a class="logo">
              <img class="img-fluid for-light" src="assets/images/logo/logo-hamilton.png" alt="looginpage">
            </a>
          </div>
          <div class="login-main pb-4">
            <form class="row">
              <div class="col-12 theme-form">
                <h3 class="text-center dark-grey">Create your account</h3>
                <p class="text-center mt-2">Enter details to create an account </p>
              </div>
              <div class="col-12"> 
                <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">

                  <!-- Step 1 -->
                  <mat-step [stepControl]="firstFormGroup" label="Personal Info">
                    <form [formGroup]="firstFormGroup">  
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                            <input class="form-control" type="text" placeholder="Enter First Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="col-form-label fw-600">Middle Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                              <input class="form-control" type="text" placeholder="Enter Middle Name" />
                              <!-- <div class="text text-danger mt-1"> Middle Name required</div> -->
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                              <input class="form-control" type="text" placeholder="Enter Last Name" />
                              <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Date of Birth </label>
                                  <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                                      ngbDatepicker #d="ngbDatepicker" />
                                    <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                      type="button">
                                      <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-lg-6 col-xl-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Gender</label>  
                                  <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1" class="me-3">Male</mat-radio-button>
                                    <mat-radio-button value="2">Female</mat-radio-button>
                                  </mat-radio-group>

                                </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Email  </label>
                                  <input class="form-control" type="text" placeholder="Enter Email" />
                                  <!-- <div class="text text-danger mt-1"> Middle Name required</div> -->
                                </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Phone Number<span class="clr--DF0404 ms-1"> * </span></label>
                                  <input class="form-control" type="text" placeholder="Enter Phone Number" />
                                  <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                                </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Password <span class="clr--DF0404 ms-1"> * </span></label>
                                  <div class="form-input position-relative">
                                      <input class="form-control" [type]="show ? 'text' : 'password'"
                                          placeholder="*********" />
                                      @if(!show){
                                      <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                      }@else{
                                      <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                      } 
                                  </div>
                              </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Confirm Password <span class="clr--DF0404 ms-1"> * </span> </label>
                                  <div class="form-input position-relative">
                                      <input class="form-control" [type]="show ? 'text' : 'password'"
                                              placeholder="*********" />
                                      @if(!show){
                                      <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                      }@else{
                                      <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                      } 
                                  </div>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 

                      <div class="d-flex align-items-center justify-content-end mt-3">
                        <button  mat-raised-button color="primary" matStepperNext>Next</button>
                      </div> 
                    </form>

                  </mat-step>

                  <!-- Step 2 -->
                  <mat-step [stepControl]="secondFormGroup" label="Additional Info">
                    <h1 class="font-16 mb-3">Mailing Address</h1>
                    <form [formGroup]="secondFormGroup">
                      <div class="row">
                        <div class="col-12"> 
                          <div class="form-group">
                            <label class="col-form-label fw-600">Street Name  <span class="clr--DF0404 ms-1"> * </span></label>
                            <input class="form-control" type="text" placeholder="Street Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                          </div>  
                        </div>
                        <div class="col-12">
                          <div class="row"> 
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">Apartment #  <span class="clr--DF0404 ms-1"> * </span>  </label>
                                <input class="form-control" type="text" placeholder="Apartment #" />
                                <!-- <div class="text text-danger mt-1"> Middle Name required</div> -->
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">State <span class="clr--DF0404 ms-1"> * </span></label>
                                <select class="form-select form-control" aria-label="Default select example">
                                  <option selected>Select State</option>
                                  <option value="1">MH</option>
                                  <option value="2">MP</option>
                                  <option value="3">UP</option>
                                </select>
                                <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                              </div>
                            </div> 
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">City <span class="clr--DF0404 ms-1"> * </span></label>
                                <select class="form-select form-control" aria-label="Default select example">
                                  <option selected>Select City</option>
                                  <option value="1">Pune</option>
                                  <option value="2">Mumbai</option>
                                  <option value="3">Satara</option>
                                </select>
                                <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">Postal Code <span class="clr--DF0404 ms-1"> * </span>  </label>
                                <input class="form-control" type="text" placeholder="Enter Postal Code" />
                                <!-- <div class="text text-danger mt-1"> Middle Name required</div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mt-3">
                        <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>

                  <!-- Step 3 -->
                  <mat-step [stepControl]="thirdFormGroup" label="Verification">
                    <form [formGroup]="thirdFormGroup">
                       <div class="row">
                        <div class="col-12">
                          <div class="upload--files d-flex align-items-center justify-content-center flex-column w-100 text-center">
                            <input class="input--file" type="file" id="">
                            <mat-icon  > upload_file </mat-icon>
                              <h6 class="font-18 fw-500">Upload Your Driver License or drag & drop it here</h6>
                              <p class="mb-0 font-14 fw-500">JPEG, JPG, PNG, PDF formats, up to 5MB</p>
                          </div>
                        </div>
                        <div class="col-12 d-flex align-items-center mb-3">
                          <div class="row align-items-center w-100">
                            <div class="col-11">
                              <div class="d-flex align-items-center w-100">
                                <div class="doc--pic d-flex align-items-center justify-content-center">
                                  <img src="../../../../assets/images/ark/ark_license.png"  alt="" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column w-100 doc--desc">
                                    <h5 class="font-16">driverlicense.jpg</h5>
                                    <p class="m-0 font-14">94 KB of 94 KB </p>
                                </div> 
                              </div>
                            </div>
                            <div class="col-1 d-flex justify-content-end pe-0">
                              <button mat-button class="p-0 flex-shrink-0 min-width-unset">
                                <span class="material-icons cancel--btn">
                                  cancel
                                  </span>
                              </button>
                            </div>
                          </div>
                          
                          
                         
                        </div>
                        <div class="col-12 d-flex align-items-center mb-3"> 
                          <mat-checkbox class="">By Clicking on ‘Sign Up’ you agree to the Privacy Policy and Terms of Services of the HPT-EHR platform.</mat-checkbox>
                        </div>
                       </div>

                      <div class="d-flex align-items-center justify-content-between mt-3">
                        <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
                        <button mat-raised-button color="primary" matStepperNext>Sign Up</button>
                      </div>
                    </form>
                  </mat-step> 

                </mat-stepper>  
              </div>
            </form>

            <div class="d-flex align-items-center justify-content-center mt-3 ">
              <p class="mb-0 text-center font-nunito">Already have an account?
                  <a href="#" class="ms-2 font-16 fw-600">Sign in </a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>