<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card patient--signup--wrapper login-dark dark-gray">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/logo-hamilton.png" alt="looginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="row">
                            <div class="col-12 theme-form">
                                <h3 class="text-center dark-grey">Create your account</h3>
                                <p class="text-center mt-2">Enter details to create an account </p>  
                            </div>
                            <div class="col-12">  
                                <button mat-button >Back</button>
                                <button mat-button color="primary">Primary</button>
                                  <!-- <mat-stepper linear #stepper>
                                    <mat-step [stepControl]="firstFormGroup" >
                                      <form [formGroup]="firstFormGroup">
                                        <ng-template matStepLabel>Fill out your name</ng-template>
                                        <mat-form-field>
                                          <mat-label>Name</mat-label>
                                          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
                                        </mat-form-field>
                                        <div>
                                          <button mat-button matStepperNext>Next</button>
                                        </div>
                                      </form>
                                    </mat-step>
                                    <mat-step [stepControl]="secondFormGroup" >
                                      <form [formGroup]="secondFormGroup">
                                        <ng-template matStepLabel>Fill out your address</ng-template>
                                        <mat-form-field>
                                          <mat-label>Address</mat-label>
                                          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                                 required>
                                        </mat-form-field>
                                        <div>
                                          <button mat-button matStepperPrevious>Back</button>
                                          <button mat-button matStepperNext>Next</button>
                                        </div>
                                      </form>
                                    </mat-step>
                                    <mat-step>
                                      <ng-template matStepLabel>Done</ng-template>
                                      <p>You are now done.</p>
                                      <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button >Reset</button>
                                      </div>
                                    </mat-step>
                                  </mat-stepper> -->
                                  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>