<div class="col-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <h3 class="mb-0 clr--1F2F3E">Practice Admin</h3>
                <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#invitePracticeAdmin">
                    <mat-icon class="material-symbols-outlined flex-shrink-0"> person_add </mat-icon>
                    Invite Practice Admin
                </button>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Practice Location</option>
                                <option value="1">MH</option>
                                <option value="2">MP</option>
                                <option value="3">UP</option>
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Practice Admin">
                            <button mat-button class="p-0 flex-shrink-0 min-width-unset search--fields">
                                <mat-icon class="material-symbols-outlined flex-shrink-0">search </mat-icon>
                            </button>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Appointment Status</option>
                                <option value="1">Pending</option>
                                <option value="2">Approve</option>
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="form-group">
                            <button mat-stroked-button color="primary">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12 cust--mat--table--wrapper">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                    class="cust--mat--table">  
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Email Id
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="practicelocatn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Practice Location
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.practicelocatn}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            <!-- {{element.status}}  -->
                            <p class="status">Active</p>
                            <p class="status pending" *ngIf="">Pending</p>
                            <p class="status suspended" *ngIf="">Suspended</p>
                            <p class="status deleted" *ngIf="">Deleted</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button mat-button class="flex-shrink-0 min-width-unset search--fields">
                                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">visibility </mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons
                                aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div> 
  
  <!-- Modal -->
  <div class="modal fade cust--modal--wrapper" id="invitePracticeAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="invitePracticeAdminLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="invitePracticeAdminLabel">Invite Practice Admin</h5> 
        </div>
        <div class="modal-body">
          <form class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control form-control-md" type="text" value="John" placeholder="Enter First Name">
                    <!-- <div class="text text-danger mt-1"> Error here</div> -->
                  </div>
                  <div class="form-group">
                    <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control form-control-md" type="text"   placeholder="Enter Last Name" disabled>
                    <!-- <div class="text text-danger mt-1"> Error here</div> -->
                  </div>
                  <div class="form-group">
                    <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control form-control-md" type="text"   placeholder="Email" disabled>
                    <!-- <div class="text text-danger mt-1"> Error here</div> -->
                  </div>
                  <div class="form-group">
                    <label class="col-form-label fw-600">Practice Location  </label>
                    <select class="form-select form-control form-control-md" aria-label="Default select example" disabled>
                      <option selected>Select</option>
                      <option value="1">MH</option>
                      <option value="2">MP</option>
                      <option value="3">UP</option>
                    </select>
                    <!-- <div class="text text-danger mt-1">Error here </div> -->
                  </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button mat-stroked-button color="primary" data-bs-dismiss="modal" class="me-2">Cancel</button> 
            <button mat-raised-button color="primary" data-bs-dismiss="modal">Invite  </button>
        </div>
      </div>
    </div>
  </div>