::ng-deep{
    .cust--mat--table{
        tbody{
            tr{
                td{ 
                    &:last-child{ 
                        .mat-icon{
                            height: 24px;
                            width: 24px;
                            font-size: 24px;
                        }
                    }
                    .status{
                        font-size: 14px;
                        font-weight: 600;
                        color: #079740;
                        &.pending{
                            color: #1E87F0;
                        }
                        &.suspended{
                            color: #D58625;
                        }
                        &.deleted{
                            color: #DF0404;
                        }
                    }
                }
            }
        }
    }
}