<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark dark-gray">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/logo-hamilton.png" alt="looginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" [formGroup]="loginForm">
                            <h3 class="text-center dark-grey">Sign in to account</h3>
                            <p class="text-center mt-2">Enter your email & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label fw-600">Email Address</label>
                                <input class="form-control" type="email" required="" placeholder="Enter your email address"
                                    formControlName="email" />
                                @if(loginForm.controls['email'].touched &&
                                loginForm.controls['email'].errors?.['required']){
                                <div class="text text-danger mt-1"> Email is required</div>
                                }
                                @if(loginForm.controls['email'].touched &&
                                loginForm.controls['email'].errors?.['email']){
                                <div class="text text-danger mt-1">Invalid Email</div>
                                }
                            </div>
                            <div class="form-group">
                                <label class="col-form-label fw-600">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" [type]="show ? 'text' : 'password'"
                                        formControlName="password" required="" placeholder="*********" />
                                    @if(!show){
                                    <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                    }
                                    @if(loginForm.controls['password'].touched &&
                                    loginForm.controls['password'].errors?.['required']){
                                    <div class="text text-danger mt-1">Password is required </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="font-12 fw-600" for="checkbox1">Remember Me</label>
                                </div>
                                <a class="link font-12 fw-600">Forgot password?</a>
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary font-16 w-100" [disabled]="!loginForm.valid"
                                        (click)="login()" type="submit">Login</button>
                                </div>
                            </div> 
                            <p class="mt-4 mb-0 text-center">Not Registered Yet?
                                <!-- [routerLink]="['/authentication/register-simple']" -->
                                <a class="ms-2 font-16 fw-600">Create an account
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>