<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card patient--signup--wrapper login-dark dark-gray">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/logo-hamilton.png" alt="looginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" >
                            <h3 class="text-center dark-grey">Create your account</h3>
                            <p class="text-center mt-2">Enter details to create an account </p> 
                            <p class="mt-4 mb-0 text-center">Already have an account? 
                                <a class="ms-2 font-16 fw-600">Sign in</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>