<div class="d-flex   profile-media">
  <div class="profile--box  ">
    <img class=" " src="assets/images/dashboard/profile.png" alt="">
  </div>
  <div class="flex-grow-1 user"><span>Helen Walter</span>
    <p class="mb-0 font-nunito">System Admin
      <svg>
        <use href="assets/svg/icon-sprite.svg#header-arrow-down"></use>
      </svg>
      </p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li>
    <a [routerLink]="'/user/users-profile'">
      <app-feathericon [icon]="'user'"></app-feathericon><span>Account </span>
    </a>
  </li>  
  <li>
    <a [routerLink]="'/user/users-edit'">
      <app-feathericon [icon]="'settings'"></app-feathericon>
      <span>Settings</span>
    </a>
  </li>
  <li><a (click)="logOut()">
      <app-feathericon [icon]="'log-in'"></app-feathericon>
      <span>Log in</span>
    </a></li>
</ul>
